.label {
  display: flex;
  flex-direction: column;
  color: #590ba2;

  font-size: 0.9rem;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container.single-line {
  flex-direction: row;
}

.error {
  color: red;
}

.input-container input,
.input-container textarea {
  padding: 0.5rem;

  color: #590ba2;

  border: 1px solid #590ba2;
  border-radius: 5px;
  
  background-color: rgba(255, 255, 255, 0.8);
}

.input-container input::placeholder,
.input-container textarea::placeholder {
  color: #8a6fa3;
}

.input-container textarea {
  min-height: 5rem;
  resize: vertical;
}

.input-container.error input,
.input-container.error textarea {
  border: 1px solid red;
  color: red;
}

.input-container input:focus,
.input-container textarea:focus {
  outline: none;
}
