.input-container {
  display: flex;
  position: relative;
}

.input-container input {
  flex-grow: 1;

  border: 1px solid #590ba2;
  border-radius: 5px;

  padding-right: 3rem;
}

.input-container input.with-button {
  border-right: none;
}

.input-container button {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;

  width: 3rem;

  color: #590ba2;

  border: 1px solid #590ba2;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;

  background-color: transparent;

  cursor: pointer;
}

.input-container button.error {
  border: 1px solid red;
  border-left: none;
  color: red;
}
