.number-container {
  display: flex;
}

.number-container > input[type="number"]::-webkit-inner-spin-button,
.number-container > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-container > input {
  flex-grow: 1;
  border-radius: 0px;
}

.number-container > button {
  width: 2rem;

  color: #590ba2;

  border: 1px solid #590ba2;
  border-radius: 5px;

  background-color: #B1E2EF;

  cursor: pointer;
}

.number-container > button.left {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.number-container > button.right {
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
